In [10]:
#Importation des libraries
import pandas as pd
import numpy as np
from datetime import timedelta

In [2]:
pic_journal = pd.read_csv("pic-journalier-consommation-brute.csv", sep=";")

In [4]:
pic_journal.sort_values(['Date'])

,Date,Pic journalier consommation (MW),Température moyenne (°C),Température référence (°C)
515,2022-01-01,55828.0,9.7,4.6
150,2022-01-02,60044.0,10.5,4.6
373,2022-01-03,68563.0,10.5,4.6
0,2022-01-04,71358.0,9.1,4.6
516,2022-01-05,78942.0,4.7,4.6
...,...,...,...,...
661,2023-12-27,62144.0,7.9,4.7
372,2023-12-28,61045.0,9.5,4.7
148,2023-12-29,59508.0,9.9,4.6
662,2023-12-30,56772.0,9.1,4.6
302,2023-12-31,58261.0,8.8,4.6

In [8]:
list (pic_journal) #.colnames()

['Date',
 'Pic journalier consommation (MW)',
 'Température moyenne (°C)',
 'Température référence (°C)']

In [ ]:

# Convertir la colonne 'Date' en datetime si ce n'est pas déjà fait
pic_journal['Date'] = pd.to_datetime(pic_journal['Date'])

# Étendre chaque jour à 24 heures
hourly_data = []
for _, row in pic_journal.iterrows():
    for hour in range(24):
        # Ajouter une ligne par heure
        hourly_data.append({
            'DELIVERY_START': row['Date'] + timedelta(hours=hour),  # Ajoute l'heure au jour de base
            'Consommation (MW)': row['Pic journalier consommation (MW)'],  # Utilise la même valeur
            'Température moyenne (°C)': row['Température moyenne (°C)'],    # Valeur constante
            'Température référence (°C)': row['Température référence (°C)'] # Valeur constante
        })

# Créer un DataFrame horaire
hourly_df = pd.DataFrame(hourly_data)

In [15]:
# Définir les dates de début et de fin pour le filtre
start_date = '2022-01-01 02:00'
end_date = '2023-03-29 23:00'

# Filtrer les données entre les dates de début et de fin
filtered_df = hourly_df[(hourly_df['DELIVERY_START'] >= start_date) & (hourly_df['DELIVERY_START'] <= end_date)]

# Trier par date
filtered_df = filtered_df.sort_values(by='DELIVERY_START').reset_index(drop=True)

# Afficher les premières lignes pour vérifier
print(filtered_df.head())
print(filtered_df.tail())

       DELIVERY_START  Consommation (MW)  Température moyenne (°C)  \
0 2022-01-01 02:00:00            55828.0                       9.7
1 2022-01-01 03:00:00            55828.0                       9.7
2 2022-01-01 04:00:00            55828.0                       9.7
3 2022-01-01 05:00:00            55828.0                       9.7
4 2022-01-01 06:00:00            55828.0                       9.7

   Température référence (°C)
0                         4.6
1                         4.6
2                         4.6
3                         4.6
4                         4.6
           DELIVERY_START  Consommation (MW)  Température moyenne (°C)  \
10865 2023-03-29 19:00:00            58250.0                      14.0
10866 2023-03-29 20:00:00            58250.0                      14.0
10867 2023-03-29 21:00:00            58250.0                      14.0
10868 2023-03-29 22:00:00            58250.0                      14.0
10869 2023-03-29 23:00:00            58250.0                      14.0

       Température référence (°C)
10865                         9.8
10866                         9.8
10867                         9.8
10868                         9.8
10869                         9.8

# courbes-de-production-mensuelles-eolien-solaire-complement-de-remuneration

In [57]:
produc_eo = pd.read_csv("courbes-de-production-mensuelles-eolien-solaire-complement-de-remuneration.csv", sep=";")

In [58]:
produc_eo=produc_eo.sort_values(by=['Date', 'Heure']).reset_index(drop=True)
# 1. Convertir la colonne 'Date' en datetime (format année-mois-jour)
produc_eo['Date'] = pd.to_datetime(produc_eo['Date'], format='%Y-%m-%d')

# 2. Convertir la colonne 'Heure' en timedelta (en ajoutant les secondes :00)
produc_eo['Heure'] = pd.to_timedelta(produc_eo['Heure'] + ":00")

# 3. Ajouter la colonne 'Heure' à la colonne 'Date' pour créer une nouvelle colonne 'DateTime'
produc_eo['DELIVERY_START'] = produc_eo['Date'] + produc_eo['Heure']
# 4. (Optionnel) Supprimer les colonnes 'Date' et 'Heure' si vous n'en avez plus besoin
produc_eo = produc_eo.drop(columns=['Date', 'Heure'])

# Afficher les premières lignes pour vérifier
print(produc_eo.head())

   prod_eolienne_MWh  prod_solaire_MWh      DELIVERY_START
0             3153.0               2.0 2022-01-01 00:00:00
1             3219.0               1.0 2022-01-01 01:00:00
2             3187.0               1.0 2022-01-01 02:00:00
3             3390.0               1.0 2022-01-01 03:00:00
4             3558.0               1.0 2022-01-01 04:00:00

In [59]:
# Définir les dates de début et de fin pour le filtre
start_date = '2022-01-01 02:00'
end_date = '2023-03-29 23:00'

# Filtrer les données entre les dates de début et de fin
filtered_produc = produc_eo[(produc_eo['DELIVERY_START'] >= start_date) & (produc_eo['DELIVERY_START'] <= end_date)]

# Trier par date
filtered_df = filtered_df.sort_values(by='DELIVERY_START').reset_index(drop=True)

# Afficher les premières lignes pour vérifier
#print(filtered_produc.head())
print(filtered_produc.tail())

       prod_eolienne_MWh  prod_solaire_MWh      DELIVERY_START
10866             8759.0             325.0 2023-03-29 19:00:00
10867            10026.0               9.0 2023-03-29 20:00:00
10868            11140.0               3.0 2023-03-29 21:00:00
10869            11813.0               2.0 2023-03-29 22:00:00
10870            12067.0               2.0 2023-03-29 23:00:00

In [60]:
signal_ecowatt = pd.read_csv("nouveau_signal_ecowatt.csv", sep=";")
signal_ecowatt

,DATE,COULEUR DU JOUR,H0,H1,H2,H3,H4,H5,H6,H7,...,H15,H16,H17,H18,H19,H20,H21,H22,H23,MESSAGE
0,2024-11-10,1,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,0,0,0,Pas dâ€™alerte.
1,2024-11-09,1,1,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,Pas dâ€™alerte.
2,2024-11-08,1,0,0,0,0,0,0,0,1,...,0,1,1,1,1,1,1,0,1,Pas dâ€™alerte.
3,2024-11-07,1,0,0,0,0,0,0,0,1,...,0,0,1,1,1,1,1,0,0,Pas dâ€™alerte.
4,2024-11-06,1,0,0,0,0,0,0,0,1,...,1,1,1,1,1,1,1,0,1,Pas dâ€™alerte.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,2022-09-05,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,Notre consommation est raisonnable
796,2022-09-04,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,Notre consommation est raisonnable
797,2022-09-03,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,Notre consommation est raisonnable
798,2022-09-02,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,Notre consommation est raisonnable
799,2022-09-01,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,Notre consommation est raisonnable

In [61]:
data_complet = pd.merge(filtered_produc, filtered_df , on="DELIVERY_START")

In [62]:
data_complet

,prod_eolienne_MWh,prod_solaire_MWh,DELIVERY_START,Consommation (MW),Température moyenne (°C),Température référence (°C)
0,3187.0,1.0,2022-01-01 02:00:00,55828.0,9.7,4.6
1,3390.0,1.0,2022-01-01 03:00:00,55828.0,9.7,4.6
2,3558.0,1.0,2022-01-01 04:00:00,55828.0,9.7,4.6
3,3776.0,2.0,2022-01-01 05:00:00,55828.0,9.7,4.6
4,3888.0,2.0,2022-01-01 06:00:00,55828.0,9.7,4.6
...,...,...,...,...,...,...
10864,8759.0,325.0,2023-03-29 19:00:00,58250.0,14.0,9.8
10865,10026.0,9.0,2023-03-29 20:00:00,58250.0,14.0,9.8
10866,11140.0,3.0,2023-03-29 21:00:00,58250.0,14.0,9.8
10867,11813.0,2.0,2023-03-29 22:00:00,58250.0,14.0,9.8
10868,12067.0,2.0,2023-03-29 23:00:00,58250.0,14.0,9.8

In [63]:
Xty = Y_dt = pd.read_csv("X_trai.csv", sep=";")

In [64]:
data_info = pd.merge(Xty, data_complet , on="DELIVERY_START")

ValueError: You are trying to merge on object and datetime64[ns] columns for key 'DELIVERY_START'. If you wish to proceed you should use pd.concat

In [68]:
# Convertir les deux colonnes 'DELIVERY_START' en datetime
Xty['DELIVERY_START'] = pd.to_datetime(Xty['DELIVERY_START'])
data_complet['DELIVERY_START'] = pd.to_datetime(data_complet['DELIVERY_START'])

# Effectuer la jointure
data_info = pd.merge(Xty, data_complet, on="DELIVERY_START")

ValueError: Tz-aware datetime.datetime cannot be converted to datetime64 unless utc=True, at position 2001

In [74]:
# Supprimer l'information de fuseau horaire
Xty['DELIVERY_START'] = pd.to_datetime(Xty['DELIVERY_START'], utc=True)
data_complet['DELIVERY_START'] = pd.to_datetime(data_complet['DELIVERY_START'], utc=True)

# Effectuer la jointure
data_info = pd.merge(Xty, data_complet, on="DELIVERY_START")

In [76]:
#Save the results to a CSV file
data_info.to_csv('X_train_add.csv', index=False)